.code {
  border: rem(1px) solid;
  border-radius: var(--mantine-radius-md);
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);

  pre {
    border-radius: var(--mantine-radius-md);
    margin: 0;
    code {
      color: inherit;
      background-color: inherit;
      width: 100%;
      span[class*="highlighted"] {
        background-color: light-dark(
          var(--mantine-color-gray-3),
          var(--mantine-color-dark-6)
        ) !important;
        transition: background-color .5s;
        margin: 0 -24px;
        padding: 0 24px;
        width: calc(100% + 48px);
        display: inline-block;
      }
    }
  }

  position: relative;
  button {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }

  @mixin light {
    border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    border-color: var(--mantine-color-dark-5);
  }
}
