@layer tw_base, mantine, tw_components, tw_utilities;
@import "tailwindcss/base" layer(tw_base);
@import "tailwindcss/components" layer(tw_components);
@import "tailwindcss/utilities" layer(tw_utilities);

@import "@mantine/core/styles.layer.css";

ol, ul, menu {
  list-style: revert;
}

.mantine-InputWrapper-description {
  margin: 0;
}

.mantine-NavLink-root {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
